version: "3.9"

services:
  # 此為Davinci Protocol
  davinci:
    build: .
    environment:
      DATA_DIR: /data
    volumes:
      - "C:/Users/peter.chang/Desktop:/data"
      - ./logs:/var/log
      - ./crontab.txt:/etc/cron.d/my-cron
    command: >
      sh -c "touch /var/log/cron.log &&
             chmod 0644 /etc/cron.d/my-cron &&
             /usr/bin/crontab /etc/cron.d/my-cron &&
             /usr/sbin/cron -f"
    networks:
      - mynetwork
    restart: always

networks:
  mynetwork:
    driver: bridge
